@font-face {
  font-family: "Fira Code";
  src: url("../fonts/FiraCode-Regular.eot");
  src: url("../fonts/FiraCode-Regular.eot") format("embedded-opentype"),
    url("../fonts/FiraCode-Regular.woff2") format("woff2"), url("../fonts/FiraCode-Regular.woff") format("woff"),
    url("../fonts/FiraCode-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
