@import "import";

body {
  background: $bluish-gray;
  font-family: "Fira Code", "Consolas", monospace;
  font-size: 16px;
  text-align: left;
  color: $white;
}

img {
  max-width: 100%;
}

#logo {
  align-self: center;
}

header,
main,
footer {
  border: $light-gray solid 15px;
  height: auto;
  background: $darker-gray;
}

header,
main {
  border-bottom: none;
}

header {
  place-content: center;

  .navbar {
    padding: 15px 0;

    @include media-breakpoint-up(lg) {
      padding: 0;
    }

    .navbar-toggler {
      padding: 0;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}

main {
  padding: 35px 0;

  .btn-pink {
    @include button-variant($pink, $pink);
  }
  section {
    width: 100%;
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  padding: 15px 0;
  place-content: space-between;
  color: $white;

  @include media-breakpoint-up(lg) {
    text-align: left;
  }
}

p,
pre {
  font-size: 0.9rem;
}

.nav-link {
  padding: 25px;

  &:hover {
    text-decoration: $link-hover-decoration;
}

  @include media-breakpoint-up(lg) {
    border-left: 5px solid $light-gray;
    padding: 25px 35px!important;
  }
}

ul#social-links {
  > li:not(:last-of-type) {
    margin-right: 10px;
  }

  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
  }
}

p:last-of-type {
  margin: 0;
}
